<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PptMgr</display-name>

 <context-param>
 	<param-name>contextConfigLocation</param-name>
 	<param-value>/WEB-INF/beans/config/dispatcher-servlet.xml,
 				/WEB-INF/beans/config/annotation-config.xml,
 				/WEB-INF/beans/config/mybatis-beans.xml</param-value>
 </context-param>
   
  <servlet>
 	 <servlet-name>spring-dispatcher</servlet-name>
	 <servlet-class>
	 	org.springframework.web.servlet.DispatcherServlet
	 </servlet-class>
	 <init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/beans/config/dispatcher-servlet.xml</param-value>			
		</init-param>
	 <load-on-startup>1</load-on-startup>
 </servlet> 
 <servlet-mapping>
 	<servlet-name>spring-dispatcher</servlet-name>
 	<url-pattern>*.sd</url-pattern>
 </servlet-mapping>
 
<filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>
        com.opensymphony.module.sitemesh.filter.PageFilter
    </filter-class>
</filter>
 
<filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>*.sd</url-pattern>
</filter-mapping>
 
 <listener>
	 <listener-class>
	 	org.springframework.web.context.ContextLoaderListener
	 </listener-class>
 </listener>
     <listener>
        <description>Request Context Listener</description>
        <display-name>Request Context Listener</display-name>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>    
 
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>