<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <typeAliases>
			<typeAlias alias="userVO" type="com.sds.ppty.entities.common.UserVO" />
	</typeAliases> -->
	<environments default="LOCAL">
		<environment id="LOCAL">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://10.63.1.170:3306/test" />
				<property name="username" value="sqlread" />
				<property name="password" value="read4sql" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/sds/ppty/dao/map/test.xml" />
		<mapper resource="com/sds/ppty/dao/map/common/Authentication.xml" />		
	</mappers>
	
</configuration>